doctype html
html
  head
    title Tanisha Dance Academy
    block scripts
    block style
  body
     nav#navbar
             ul
              #logo
                   img(src="/static/img/3.png")
                   | TDA

                   li #[a(href="/") Home]
                   li #[a(href="/") our mission]
                   li #[a(href="/") our sponsors]
                   li #[a(href="/contact") contact us]

     block content
     footer#footer
      | copyright © 2020 TanishaDanceAcademy.com | All Rights Reserved 