doctype html
html
    head
       title This is Title
       style
         include ../static/style.css
       body 
         nav#navbar
               ul
                 #logo
                    img(src="/static/img/3.png")
                    | TDA

                 li #[a(href="/") Home]
                 li #[a(href="/") About]
                 li #[a(href="/") services ]
                 li #[a(href="/") academy info]
                 li #[a(href="/") contact us]

           section#introsection
                div Welcome to Tanisha Dance Academy 
                div.small Any Body Can Dance        

       

           section#missionsection

                h2 our mission
                
                div.card
                     h3 Dance perfection
                      div.card-box
                        div.card-img
                            img(src="/static/img/1.png")
                        div.card-content
                            p This is the best dance academy of India     
                      
                         
                     

                div.card
                     h3 Dance the way you like
                      div.card-box
                        div.card-img
                            img(src="/static/img/2.png")
                        div.card-content
                             p This is the best dance academy of India    
                     



                div.card
                     h3 Expert Teaching 
                      div.card-box
                        div.card-img
                            img(src="/static/img/4.png")
                        div.card-content
                             p This is the best dance academy of India    
                       

                 
    
     

         section#sponsorssection      
                h2 Our sponsors

                div#sponsors
                   img(src="/static/img/7.png", alt="sponsor image",class="spimage") 
                   img(src="/static/img/8.png", alt="sponsor image",class="spimage") 
                   img(src="/static/img/9.png", alt="sponsor image",class="spimage") 
                   img(src="/static/img/10.png", alt="sponsor image",class="spimage") 

         footer#footer
                | copyright © 2020 TanishaDanceAcademy.com | All Rights Reserved      

         script
            include ../static/index.js     
